.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

.item {
  display: block;
  border: 1px solid firebrick;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}


.items a {
  color: inherit;
  text-decoration: none;
}

.items a:hover {
  transform: scale(1.1);
}