#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thumbnail {
  width: 70px;
  height: auto;
  float:left;
  display: flex;
  align-items: center;
}

.likeButton {
  float:right;
  display: flex;
  align-items: center;
}